.grid {
    width: 400px;
    height: 600px;
    background-image: url("fire.gif");
    position: relative;
    font-size: 200px; color: greenyellow;
    text-align: center;
    
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}